@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* NORMALIZER */

img{border:0}p,li,h1,h2,h3{margin:0;padding:0}a img{border:none}a{color:inherit}a:active,a:link{outline:none}a,a:link{text-decoration:none}a:hover{text-decoration:underline}

 /* END OF NORMALIZER */

html{
    font-family: sans-serif;
}

section{
    display:block;
}

section a {
    color: #ff6e26;
    font-size:1.2em;
    line-height:1.4em;
}

body{
    font-family:'Raleway', sans-serif;
    font-size:62.5%;
    color:#434343;
    background-color:gray;
    margin:0;
    padding:0;
    -webkit-animation: fadeIn 1s .1s ease both;
    -moz-animation: fadeIn 1s .1s ease both;
    -o-animation: fadeIn 1s .1s ease both;
    animation: fadeIn 1s .1s ease both;
    -ms-animation: fadeIn 1s .1s ease both;
}

section p,
section li {
    padding: 9px 20px;
    font-size: 1.7em;
    line-height: 1.5em;
    color: #5c5c5c;
    
}

#wallpaper{
    background-size:cover;
    top:0;
    height:100%;;
    width:100%;
    position:fixed;
    background: url("../../img/header2.png") no-repeat center;
}

ul{
    list-style-type: none;
}

section ul {
    margin-top:-9px;
    padding: 9px 0;
}

section li {
    padding: 0 20px;
    line-height: 1.5em;
    font-family:'Raleway', sans-serif;
}

.clear{
    clear:both;
}

#menu{
    width:100%;
    font-size:2.5em;
    height:75px;
    font-weight:100;
    z-index:4;
    position:fixed;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    text-align:center;
}

#space{
    height:24em;
}

#line{
    content: '';
    position: absolute;
    left: 50%;
    height: 24em;
    border-left: solid 1px #fff;
}

#menu a{
    margin: 20 20 20 20;
}

#menu a:nth-child(1){
    left:5%;
    position:fixed;
}

#menu a:nth-child(2){
    margin:0;
    padding:0;
    margin-top:20px;
    display:inline-block;
    letter-spacing: 10;
}

#menu a:nth-child(3){
    right:5%;
    position:fixed;
}

#menu a:hover{
    border-bottom: 0.1em solid;
    padding-bottom:0.15em;
    text-decoration: none;
}

#content{
    width:100%;
    position:absolute;
    z-index:2;
}

#header{
    display:block;
    z-index: 1;
    position: relative;
    width: 100%;
    background:none;
    height:100%;
}

#font {
    margin-left: auto;
    margin-right: auto;
    top:30%;
    left:0;
    right:0;
    z-index: 3;
    height:260px;
    width:300px;
    position:absolute;
    -webkit-animation: fadeInDown .6s 0.5s ease both;
    -moz-animation: fadeInDown .6s 0.5s ease both;
    -o-animation: fadeInDown .6s 0.5s ease both;
    animation: fadeInDown .6s 0.5s ease both;
    -ms-animation: fadeInDown .6s 0.5s ease both;
}

#logo{
    background:url("../../img/shemaforash.png") no-repeat;
    background-size:100%;
    width:100%;
    height:100%;
}

#fontlogo{
    cursor: default;
}

h1{
    color:#fff;
    font-size:7em;
    line-height:1em;
}
h2{
    text-align:center;
    padding:12px 20px;
    font-size:3em;
}
#images{
    overflow:hidden;
}

#images h2{
    padding-top:60px;
    padding-bottom:30px;
    background-color:#141414;
    color:white;
}

#images h3{
    color:white;
    text-align:center;
    font-size:3em;
    font-weight: 100;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#141414;
}

#images h3:nth-child(4){
    padding-bottom:20px;
}

#images p{
    background-color:#141414;
    color:white;
    font-size:2em;
    font-weight:100;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

#bg{
    margin-left:auto;
    margin-right:auto;
    width:600px;
    border:1px solid white;
    display:block;
    font-size:0;
}

#bg img{
    display:inline-block;
    width:50%;
    padding:0;
    height:auto;
    font-size:0;
}

.about{
    background-color:#e4e4e4;
    overflow:hidden;
}

.about img{
    min-width:60%;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:80px;
    margin-bottom:80px;
}

a i{
    margin-right:10px;
    color:#e1e1e1;
}

#contact{
    width:100%;
    max-width:960px;
    margin:0 auto;
    padding:40px 0;
}

#contact h2{
    text-align:left;
}

.contactWrapper{
    width:100%;
    background:url("../../img/dark_texture.jpg") repeat;
}

.contactWrapper p,
.contactWrapper li {
    padding-top: 2px;
    color: #e1e1e1 !important;
}

.contactWrapper a{
    font-weight:400;
    letter-spacing:1px;
}

.contactWrapper h2,
.contactWrapper h3 {
    color: #e4e4e4 !important;
}






@media (min-width: 450px) {
    #contact .article{
        float:left;
        width:55%;
    }
    
    #contact .artc2{
        width:35%;
        padding-left:10%;
    }
}
























.animateall * {
    -webkit-transition-property: font-size,margin,padding;
    -moz-transition-property: font-size,margin,padding;
    -o-transition-property: font-size,margin,padding;
    transition-property: font-size,margin,padding;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.animate {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.animateWidth {
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInDown {    
    0% {
        opacity: 0;
        -webkit-transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {    
    0% {
        opacity: 0;
        -webkit-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {    
    0% {
        opacity: 0;
        -moz-transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-moz-keyframes fadeIn {    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInUp {    
    0% {
        opacity: 0;
        -moz-transform: translateY(25px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInDown {
0% {
    opacity: 0;
    -ms-transform: translateY(-25px);
}

100% {
    opacity: 1;
    -ms-transform: translateY(0);
}
}

@-ms-keyframes fadeIn {    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeInUp {
0% {
    opacity: 0;
    -ms-transform: translateY(25px);
}

100% {
    opacity: 1;
    -ms-transform: translateY(0);
}
}

@-keyframes fadeInDown {
0% {
    opacity: 0;
    -ms-transform: translateY(-25px);
}

100% {
    opacity: 1;
    -ms-transform: translateY(0);
}
}

@-keyframes fadeIn {    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-keyframes fadeInUp {
0% {
    opacity: 0;
    -transform: translateY(25px);
}

100% {
    opacity: 1;
    -transform: translateY(0);
}
}